.form-control,
.form-select:focus {
  box-shadow: none !important;
}

.form-check-input {
  width: 20px !important;
  height: 20px !important;
}

.whole {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 10;
}

#taxation-opting-dropDown-div {
  display: none;
}

.show-hide-details-input-container {
  position: relative;
}

.show-hide-details-btn {
  position: absolute;
  top: 25%;
  left: -5%;
  display: block;
  float: right;
  border-radius: 4px;
  padding: 1px 10px;
  margin-left: -4rem;
  color: #fff;
  font-weight: normal;
  background: rgb(0, 68, 124);
  cursor: pointer;
  font-size: 11px;
}

.tooltip-icon {
  position: relative;
  z-index: 23;
}

.tooltip-content {
  display: none;
  z-index: 22;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  border: 1px solid #ececec;
  padding: 15px;
  margin-top: 1rem;
  border-radius: 6px;
  color: #333;
  background: #fff;
  font-size: 13px;
  text-align: left;
}

.tooltip-icon:hover .tooltip-content {
  display: block;
}

.two-inputs-row.col-sm {
  padding: 0;
}

#IncomeFromHouseProperty,
#CapitalGians,
#IncomeFromOtherSources,
#Deductions {
  display: none;
}

.deleteRowOption {
  cursor: pointer;
}

.add-row-option {
  cursor: pointer;
}
