.form-control,
.form-select:focus {
  box-shadow: none !important;
}

.form-check-input {
  width: 20px !important;
  height: 20px !important;
}

.whole {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 10;
}
.form-heading {
  display: flex;
  justify-content: start;
  height: 60px;
  width: 100%;
  border-bottom: 1.5px solid rgb(175, 175, 175);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.heading {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-top-left-radius: 10px;
  background-color: #24a7df;
}
#taxation-opting-dropDown-div {
  display: none;
}

.show-hide-details-input-container {
  position: relative;
}

.show-hide-details-btn {
  position: absolute;
  top: 25%;
  left: -5%;
  display: block;
  float: right;
  border-radius: 4px;
  padding: 1px 10px;
  margin-left: -4rem;
  color: #fff;
  font-weight: normal;
  background: #24a7df;
  cursor: pointer;
  font-size: 11px;
}

.tooltip-icon {
  position: relative;
  z-index: 23;
}

.tooltip-icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #24a7df;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-content {
  display: none;
  z-index: 22;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  border: 1px solid #ececec;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 6px;
  color: #333;
  background: #fff;
  font-size: 13px;
  text-align: left;
}

.tooltip-icon:hover .tooltip-content {
  display: block;
}

.two-inputs-row.col-sm {
  padding: 0;
}

#IncomeFromHouseProperty,
#CapitalGians,
#IncomeFromOtherSources,
#Deductions {
  display: none;
}

.deleteRowOption {
  cursor: pointer;
}

.add-row-option {
  cursor: pointer;
  background-color: #24a7df;
}

.thead-row {
  background-color: #24a7df;
  color: white;
}
